@font-face {
    font-family: 'Elegance';
    src: url('Assets/fonts/Rounded_Elegance.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
body {
    /* padding-top: 5rem; */
    font-family: 'Elegance', sans-serif;
}

@media (max-width: 767.98px) {
    .carousel-inner .carousel-item img {
        width: 100%;
        height: auto;
    }
}
.carousel-indicators li, .subsection_heading, .subsection_categories {
  /* background-color: red; */
  color: #FF0000;
}

.carousel-indicators li.active {
  background-color: #FF0000;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767.98px) {
  .img-fluid {
    width: 100%;
    height: auto;
  }
}

.laptops img{
    height: 150px;
}

.mini-div {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fcccbf;
  color: #f6928b;
}

.mini-div.active {
  background-color: #ec1e24;
  color: white;
}